/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500&family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@300;400;700&family=Poppins:wght@100;300;500&family=Questrial&family=Raleway:wght@300;400;700&family=Roboto:wght@100;300;400;700&family=Syncopate:wght@400;700&family=Varela&display=swap');


/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url("components/navbar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/cards.css");
@import url("components/footer.css");


/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  text-align: center;
}

h1, h2, h3, h4, p, a {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
